<div class="dashboard-main container-fluid px-2">
  <div class="dashboard-sub container px-2">
    <h1 class="dash-welcome">Welcome to your dashboard {{userName}}!</h1>
  </div>
  {{#if posts.length}}
  {{#each posts as |post|}}
  <div class="dashboard-sub-1 container px-2">
    <div class="post-header"><a class="post-link" href="/dashboard/user-post/{{id}}"><h2 class="dashboard-header">{{postTitle}}</h2></a></div>
    <hr>
    <div class="post-body">{{postBody}}</div>
    <hr>
    <div class="post-footer">Posted on {{format_date date_created}}</div>
  </div>
  {{/each}}
  {{/if}}
  <div class="container button-container">
    <button class="new-post-btn custom-btn btn btn-primary">New Post</button>
  </div>
  {{#if comments.length}}
  <div class="dashboard-sub container px-2">
    <div class="post-header"><h2 class="dashboard-header">Comments</h2>
  {{#each comments as |comment|}}
    <div class="comment-group">
      <h6>{{user.userName}}: </h6>
      <span class="comment-body" contenteditable="true">{{comment.commentBody}}</span>
      <p class="dash-note">Posted on: {{format_date comment.date_posted}} @ <a href="/post/{{post.id}}">{{post.postTitle}}</a></p>
      <button class="edit-com-btn custom-btn btn btn-primary" data-id="{{comment.id}}">Edit</button>
      <button class="dlt-com-btn custom-btn btn btn-primary" data-id="{{comment.id}}">Delete</button>
      {{!-- Probably want to go in and make these flex at some point. --}}
    </div>
  {{/each}}
    </div>
    <p class="user-note">Comments can be freely edited on this page, and saved by clicking the 'Edit' button.</p>
  </div>
  {{/if}}
</div>

<script src="/js/dashboard.js"></script>